<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UserFont" type="QueryPlatform.Code.Common.UserFontSection, QueryPlatform" />
  </configSections>
  <appSettings>

    <!--Start DB-->
    <add key="DB" value="db.mdb"></add>
    <add key="Password" value="123456"></add>
    <add key="Date" value="7"></add>
    <add key="LastBackDate" value="2015-11-10"></add>
    <!--End DB-->

    <!--Start Area-->
    <add key="Area" value="兄弟局,浙江,湖州,嘉兴,杭州,绍兴,宁波,台州,温州,丽水,金华,衢州,舟山,长沙"></add>
    <!--End Area-->

    <!--Start Sys-->
    <add key="ShowMode" value="1"></add>
    <!--End Sys-->
  </appSettings>

  <!--Win7 及以上字体-->
  <!--<UserFont>
      <add Key="QueryListFont" Name="楷体" Size="20" Bold="1"></add>
      <add Key="TreeListFont" Name="楷体" Size="20" Bold="1"></add>
      <add Key="TitleFont" Name="仿宋" Size="22" Bold="1"></add>
      <add Key="AreaFont" Name="仿宋" Size="16" Bold="1"></add>
      <add Key="ToolTipFont" Name="仿宋" Size="16" Bold="1"></add>
  </UserFont>-->
  <!--Win7 及以上字体-->

  <!--Win XP 专用字体-->
  <UserFont>
    <add Key="QueryListFont" Name="楷体_GB2312" Size="20" Bold="1"></add>
    <add Key="TreeListFont" Name="楷体_GB2312" Size="20" Bold="1"></add>
    <add Key="TitleFont" Name="仿宋_GB2312" Size="22" Bold="1"></add>
    <add Key="AreaFont" Name="仿宋_GB2312" Size="16" Bold="1"></add>
    <add Key="ToolTipFont" Name="仿宋_GB2312" Size="16" Bold="1"></add>
  </UserFont>
  <!--Win XP 专用字体-->
</configuration>